<div class="d-flex flex-column container">


  <!--<span class="test">{{result}}</span>-->
  <div class="card mb-4 mt-4">
    <h4 class="card-header">Платеж выполнен!</h4>
    <div class="card-body">
      <p>
        Данные обновятся как только ООО "ЕРКЦ" получит данные от банка о вашем платеже.
       Чек об оплате Вам придет в течение 20 минут после оплаты. Если этого не произошло, то обратитесь в службу поддержки сайта любым удобным для Вас способом, указанным в разделе Помощь.

      </p>

      <p>В течение 5 секунд Вы будете автоматически перенаправлены в Ваш личный кабинет.</p>
      <br>
    </div>
  </div>
</div>
