<!-- Возможно лучше сделать ввод счетчиков через форму, а не прямо в таблице -->
<div class="d-flex flex-column">
<div class="test">
  <!--<table class="table table-hover table-bordered table-responsive table-sm " >-->
  <table class="table table-hover table-bordered table-responsive table-sm " cellspacing="0" width="auto">
    <thead class="text-center">
    <tr>
      <th scope="col" >Наименование услуги</th>
     <th scope="col" rowspan="2">Установлен</th>
   <!--   <th colspan="3">Показания для расчета</th>
      <th scope="col" rowspan="2">Тариф</th>
      <!--<th scope="col" rowspan="2">Кф.</th>
      <th scope="col" rowspan="2">Сумма</th>
      <th scope="col" rowspan="2">Сумма АВ*</th>
      <th scope="col" rowspan="2">К оплате</th>

    </tr>

    <tr>-->
      <th scope="col">Предыдущее</th>
      <th scope="col" class="current">Текущее</th>
      <th scope="col">Объем</th>
      <!--</tr>-->
    </tr>

</thead>
<tbody>
<tr *ngFor="let doc of cntArray">

<!--<td data-label="№">{{doc.cnt_no}}</td>-->
      <td data-label="Наименование услуги" class="srv_name">{{doc.srv_name}}</td>
      <td data-label="Место установки">{{doc.pic_name}}</td>

      <!--<td data-label="Наименование поставщика">{{doc.sup_name}}</td>-->
      <td data-label="Предыдущее" style="text-align: center">{{doc.val_prev}}</td>
      <td data-label="Текущее показание" class="current"><input class="form-control text-center" [(ngModel)]="doc.val_cur"
                                                 type="number" min="doc.val_last"></td>

      <td data-label="Объем" style="text-align: center">{{countQty(doc.val_cur, doc.val_prev)}}</td>
      <!--<td>{{doc.val_last}}</td>-->
      <!--(blur)="checkNewVal(doc.val_cur, doc.val_prev)"-->


      <!--<td>{{doc.val_last - doc.val_prev}}</td>-->
     <!-- <td><input [(ngModel)]="doc.val_last" type="number" class="text-center"
                 (change)="getSumPay(doc.val_last, doc.val_prev, doc.tariff)"></td>-->
      <!-- <td>{{doc.val_last}}</td> -->

      <!--<td data-label="Тариф">{{doc.tariff}}</td>
      <td data-label="Коэф.">{{doc.koefficient}}</td>
      -->
      <!--<td>{{doc.sum_pay}}</td>-->

    <!--  <td data-label="Сумма" style="text-align: right">{{countSumPay(doc) | currency:'RUB':''}}</td>-->
  <!--<td>{{doc.sum_af}}</td>
  <td>{{doc.sum_total}}</td>-->
    <!--  <td data-label="Сумма АВ*" style="text-align: right">{{countAF(doc) | currency:'RUB':''}}</td>
      <td data-label="К оплате" style="text-align: right">{{countTotal(doc) | currency:'RUB':''}}</td>
      <!--{{getSumPay(cnt[index].val_last, cnt[index].val_prev, cnt[index].tariff) | currency:'RUB':''}}-->
    </tr>
    </tbody>
  <!--  *АВ - агентское вознаграждение-->

  </table>
</div>
  <div class="d-flex">
    <div>
      <button [disabled]="loading" class="btn btn-primary" (click)="getJsonCnt()" [disabled]="isLoaded">Внести</button>

      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
    <!--<button class="btn btn-outline-primary" (click)="back()">На главную</button>-->
    <button class="btn btn-outline-primary reset" type="button" (click)="resetCntValue()" [disabled]="isLoaded">Сброс показаний</button>
    <button [disabled]="loading" class="btn btn-outline-primary" (click)="getDeclaredCnt()" [disabled]="isLoaded">Заявленные</button>
  </div>

</div>
