<div class="container">
  <div class="card mb-4 mt-4">
    <h5 class="card-header"><a name="contacts">Контакты:</a></h5>
    <div class="card-body">
      ООО "ЕРКЦ".<br>
      Фактический адрес: 357500, Ставропольский край, г. Пятигорск, ул. Университетская, 5.<br>
      Электронная почта: erkc-pay@kmv.ru.<br>
      Телефоны: 8(8793)31-76-82.<br>
      <u>Реквизиты:</u>
      ИНН 2632102723 / ОГРНИП 1152651023360.<br>
      Юридический адрес:  357500, Ставропольский край, г. Пятигорск, ул. Университетская, 5.<br>
      Тел./факс: 8(8793)31-76-82.
    </div>
  </div>
  <div class="card mb-4">
    <h5 class="card-header"><a name="scope">Описание сферы деятельности:</a></h5>
    <div class="card-body">
      ООО "ЕРКЦ" является платежным агентом, принимающим оплаты за жилищно-коммунальные услуги,
      предоставляемые ТСЖ, ТСН, УК и РСО г.Пятигорска.
    </div>
  </div>
  <div class="card mb-4">
    <h5 class="card-header"><a name="payment">Способы оплаты:</a></h5>
    <div class="card-body">

      <u>Наличными.</u>
      <ul>Пункты по приему платежей:
        <li>ул. Университетская д.7</li>
        <li>ул. Фучика, д.4, корп. 3</li>
        <li>ул. 1-ая Набережная, д.34, корп. А</li>
        <li>ул. 40 лет Октября, д.37</li>
        <li>ул. 40 лет Октября, д.58, корп. Б</li>
        <li>ул. Бульварная, д.4, корп. А</li>
        <li>ул. Ленина, д.34</li>
        <li>ул. Подстанционная, д.4</li>
        <li>ул. Февральская, д.283, корп.А</li>
        <li>ул. Ленина, д.32 (ст.Константиновская)</li>
        <li>ул. Ермолова, д.14, корп.3</li>
      </ul>
      <u>Банковской картой:</u>
      <div>
         Для выбора оплаты услуг с помощью банковской карты на соответствующей странице необходимо нажать кнопку
         Оплатить картой.<br>
         Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем:
        <ul>
      <li>
         <img src="../../assets/img/mir-logo.svg" width="100"/>(МИР)
      </li>
      <li>
        <img src="../../assets/img/visa-logo.svg" width="100"/>(VISA International)
      </li>
      <li>
        <img src="../../assets/img/mastercard-logo.svg" width="150"/>(Mastercard Worldwide)
      </li>
        </ul>
      </div>
      <u></u>
      <ul>
        <li><a href="../assets/img/pay_erkc_sber.jpg" class="sber_banner" target="_blank">Оплата через Сбербанк Онлайн по услуге "Оплата услуг"</a></li>
        <li><a href="../assets/img/pay_erkc_pd.jpg" class="sber_banner" target="_blank">Оплата через Сбербанк Онлайн по услуге "Единый платежный документ"</a></li>
      </ul>

    </div>
  </div>
  <div class="card mb-4 mt-4">
    <h5 class="card-header"><a name="policy">
      Политика конфиденциальности и пользовательское соглашение:</a></h5>
    <div class="card-body">
      <ul>
        <li>
      <a href="../../../assets/doc/privacy_police.pdf" target="_blank">Политика конфиденциальности</a>
        </li>
        <li>
      <a href="../../../assets/doc/terms_of_use.pdf" target="_blank">Пользовательское соглашение</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card mb-4">
    <h5 class="card-header"><a name="data_transfer">Передача данных</a></h5>
    <div class="card-body">
      Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
      Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
    </div>
  </div>
  <div class="card mb-4">
    <h5 class="card-header"><a name="instructions">Инструкции:</a></h5>
    <div class="card-body">
      <ol class="">
        <li><a href="../../../assets/doc/instructions_erkc.pdf" target="_blank">Инструкция по работе на сайте ООО "ЕРКЦ"</a></li>

        <!--<li><a href="">Инструкция по заполнению данных для оплаты (включая приборы учета)</a></li>-->
        <!--<li><a href="">Инструкция по оплате с помощью QR-кода</a></li>-->
        <li><a href="../../../assets/doc/paySberbankOnline.pdf" target="_blank">Инструкция по оплате через сайт Сбербанк Онлайн</a></li>
        <!--<li><a href="">Инструкция по оплате через приложение Сбербанк</a></li>-->


      </ol>
    </div>
  </div>
</div>
