section {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-top: 1.5em;
}

.fiscal {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: space-between;
}

thead th {
  padding: 10px;
}
td {
  padding: 5px;
}
table td {
  padding: .75rem;
  vertical-align: top;
}
