

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.form-control{

}
.btn {
  background: #0056b3;
  border-color: #0056b3;
}
.sber{
  margin-left: 20px;
  margin-top: 20px;
 /* width: 30%;*/
}
.alert-danger{
  font-size: 12px!important;
}

