/*.container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

header{
  display:flex;
  height: 4.375rem;
  background: #3261af;
  flex-direction:row;
  align-content: center;
  align-items: center;
}
a.btn.login{
  margin-left: auto;
}
.table td {
  text-align: center;
}

h5{
  color:white;
}
.btn{
  color:white;
}
"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
*/


/*

.header {
  flex: 0 1 auto;


  align-items: center;

  justify-content: space-between;

  background: #fff;
  padding-bottom: 1rem;
}
.btn {
  color: #0056b3;
  text-decoration: none;
}
.btn:hover {
  text-decoration: underline;
}
.help{
  margin-left: auto;

}
.login{
  margin-left: 1em;
}
.registration {
  margin-left: 1em;
}

.main{
  background: url(../assets/img/body_bg.jpg) no-repeat center/cover;
  border-top: 1px solid #0056b3;

  flex:1 1 auto;
}

.user{
  color: #0075c0;
}
.logout{
  background-color: #ba1f0b;
  color: #fff;
}
ul li a{
  color: #fff;
  cursor: pointer;
}
ul li a:hover{
  text-decoration-line: underline;
}

footer .footer__menu{
  border-top: 1px solid #0056b3;

  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: .85em;
  align-items: center;
  justify-content: space-around;
}

.logo{
  width: 120px;
}
.logo a{
  text-decoration: none;
}
footer a {
  text-decoration: none;
  color: #333;
  padding: 0.5em;
}

.sber_banner{
  width: 50%;
}


.footer span{
  font-size: 0.75rem;
}

.info{
  font-size: 0.8rem;
}

@media (max-width: 760px) {
  .help{
    margin-left: 0;

  }
  .login{
    margin-left: 0;
  }
  .registration {
    margin-left: 0;
  }
  .service_button{
    flex-direction: column;
    align-items: center;
  }
  footer .footer__menu{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  footer a {
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;

    align-items: center;
  }
  .info{

  }
}
*/

.header {
  min-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3261af;
}

.header-logo {
  padding-left: 50px;
}
.user-navigation {
  padding-right: 50px;
  display: flex;
}
.user-items{
  padding: 12px;
}
.user-navigation a:hover {
  text-decoration: underline;
  color: #1b1e21;
}
.user-navigation a:active {
  text-decoration: underline;
  color: #1b1e21;

}
.user-navigation li:active{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  border-radius: 4px;

  outline: 0;
}
.container{
  flex: 1 0 auto;
  background: url(../assets/img/body_bg.jpg) no-repeat center/cover;
}

.footer-navigation {
  border-top: 1px solid #3261af;
  height: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  align-items: center;
  justify-content: space-around;
  margin: 0;

}
.footer-navigation li:hover{
  text-decoration: underline;
}

.footer-navigation a{

  color: #333;
}
.org {
  font-size: 10px;
}
