<div class="d-flex flex-row  container">
  <div  class="flex-column justify-content-between flex-wrap">
    <ul class="nav flex-column">
      <!--<li><a routerLink="/" >Найти код платежа и ФП</a></li>-->
      <li class="nav-item"><a class="nav-link" routerLink="/admin/users/">Найти данные о пользователе</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/user-acc/">Найти лицевые счета пользователя</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/receipt/">Оплаченные документы</a></li>
    </ul>
  </div>

    <router-outlet></router-outlet>


</div>
